<div class="root">

    <app-bulb></app-bulb>
    <app-add></app-add>
    <!-- <h1>
        Welcome to {{ title }}!
    </h1> -->
    <!-- <h2>Pearson Information</h2>
    <img [src]="imagePath">

    <ul>
        <li>
            <span>Name:-</span> {{name}}
        </li>
        <li>
            <span>Address:-</span> {{address}}
        </li>
    </ul> 

    <h1>two way binding</h1>


    <input type="text" [(ngModel)]="name">


    <p>counter: {{counter}}</p>

    <button (click)="incres()">incres</button>
    <button (click)="deincres()">deincres</button>

    <br>-->
    <!-- <div [style.border]="'2px solid black'" class="border"><img [src]="path"></div> -->
    <!-- <div [class.imgborder]="true"><img [src]="path"></div> -->

    <!-- <div [class.imgborder]="true"><img [src]="path"></div>


    <button (click)="change()">{{status}}</button> -->

    <!-- <p>Frist Number <input type="text" [(ngModel)]="no1"></p>
    <p>Secound number <input type="text" [(ngModel)]="no2"></p>
    <p>Addition is : {{sumof}}</p>
    <p>Addition is : {{this.no1*1 + this.no2*1}}</p> 
   <button type="submit" (click)="add()">Add</button>
    <button type="submit" (click)="sub()">sub</button>
    <button type="submit" (click)="mul()">mul</button>
    <button type="submit" (click)="div()">div</button> -->

    <!-- <span><img [src]="path"></span>
    <button (click)="change()">{{status}}</button> -->



    <!-- <h2 *ngIf='displayName()'>
        NgIf Example's
    </h2> -->

    <!-- <span *ngFor="let obj of colors">
        
    <img [src]="obj.path"> <button (click)="change(obj)">{{obj.status}} </button>
    </span> -->


    <!-- <div [ngSwitch]="pickColor">
        <div *ngSwitchCase="10">You have pich the red color</div>
        <div *ngSwitchCase="'blue'">You have pich the blue color</div>
        <div *ngSwitchCase="'black'">You have pich the black color</div>
        <div *ngSwitchDefault>Pick Colors</div>

    </div> -->
</div>